<html lang='en'>

<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>

<body>
    <div>
        <div class='center'>
            <div class='title'>Classification probabilities for customer sale 👍👎</div>
            <p>
                Input the notes for a sales call to see the (subjective) probability that it leads to a sale in the next 60 days.
            </p>
            <div class='content'>
                <div class='no-display'>
                    <!-- <input id='file-input' class='no-display' type='text' name='text' accept='image/*'
                        onchange='showPicked(this)'> -->
                </div>
                <form class='choose-file-button' type='text'>
                    <input id="reviewText" type="text" name="firstname" value="" style="width: 300px;">
                </form>
                <!-- <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div> -->
                <div class='analyze'>
                    <button id='analyze-button' class='analyze-button' type='button'
                        onclick='analyze()'>Analyze</button>
                </div>
                <div class='result-label'>
                    <label id='result-label'></label>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
